name: Strapi-CICD

on:
  push:
    branches:
      - master

jobs:
  terraform:
    name: Terraform Apply
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: infra

    outputs:
      ec2_ip: ${{ steps.get_ip.outputs.ec2_ip }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.0

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform Init (S3 backend)
        run: terraform init -input=false

      - name: Terraform Apply
        run: terraform apply -auto-approve

      - name: Get EC2 Public IP
        id: get_ip
        run: |
          IP=$(terraform output -raw strapi_public_ip)
          echo "ec2_ip=$IP" >> $GITHUB_OUTPUT

  deploy:
    name: Deploy Strapi on EC2
    runs-on: ubuntu-latest
    needs: terraform

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Add SSH Key
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" > key.pem
          chmod 600 key.pem

      - name: Deploy Code to EC2
        run: |
          ssh -i key.pem -o StrictHostKeyChecking=no ec2-user@${{ needs.terraform.outputs.ec2_ip }} << 'EOF'
            # Go to project folder
            cd /home/ec2-user/job-strapi

            # Pull latest code from GitHub
            git pull origin master

            # Install backend dependencies (root-level backend)
            npm install

            # Build Strapi project
            npm run build

            # Restart or start PM2 service
            pm2 restart strapi || pm2 start npm --name strapi -- start

            # Save PM2 config
            pm2 save
          EOF
